[Desktop Entry]
Name=Phaedra
Comment=Phaedra Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.phaedra
StartupWMClass=org.wezfurlong.phaedra
TryExec=phaedra
Exec=phaedra start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
